In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./bank-additional/bank-additional-full.csv')
print(data.shape)

(41188, 21)

In [3]:
data.head

<bound method NDFrame.head of        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  ...  campaign  pdays  previous  \
0      telephone   may         mon  ...         1    999         0
1      telephone   may         mon  ...         1    999         0
2      telephone   may         mon  ...         1    999         0
3      telephone   may         mon  ...         1    999         0
4      telephone   may         mon  ...         1    999         0
...          ...   ...         ...  ...       ...    ...       ...
41183   cellular   nov         fri  ...         1    999         0
41184   cellular   nov         fri  ...         1    999         0
41185   cellular   nov         fri  ...         2    999         0
41186   cellular   nov         fri  ...         1    999         0
41187   cellular   nov         fri  ...         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed    y
0           5191.0   no
1           5191.0   no
2           5191.0   no
3           5191.0   no
4           5191.0   no
...            ...  ...
41183       4963.6  yes
41184       4963.6   no
41185       4963.6   no
41186       4963.6  yes
41187       4963.6   no

[41188 rows x 21 columns]>

In [10]:
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)

In [11]:
data[:5]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [15]:
one_class = data[data['y']=='yes']
one_class_count = one_class.shape[0]
print("one class count: ", one_class_count)
zero_class = data[data['y']=='no']
zero_class_count = zero_class.shape[0]
print("zero class count: ", zero_class_count)
zero_to_one_ratio = zero_class_count/one_class_count
print("Ratio: %.2f" % zero_to_one_ratio)

one class count:  4639
zero class count:  36537
Ratio: 7.88

In [17]:
import numpy as np
data['no_previous_contact'] = np.where(data['pdays'] == 999, 1, 0)

In [19]:
data['not_working'] = np.where(np.in1d(data['job'], ['student', 'retired', 'unemployed']), 1, 0)

In [20]:
print(data.shape)

(41176, 23)

In [22]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('y', axis=1), data['y'], test_size=0.25, random_state=0)

In [25]:
X_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,no_previous_contact,not_working
7403,44,admin.,divorced,university.degree,unknown,yes,no,telephone,may,fri,...,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,1,0
29282,37,entrepreneur,married,basic.4y,no,yes,no,cellular,apr,fri,...,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,1,0
11552,36,blue-collar,married,basic.9y,no,yes,no,telephone,jun,fri,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,1,0
13634,27,blue-collar,married,high.school,no,yes,no,cellular,jul,thu,...,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,1,0
7018,40,self-employed,married,high.school,unknown,yes,no,telephone,may,thu,...,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,36,unemployed,married,basic.4y,no,yes,no,telephone,may,wed,...,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,1,1
3117,31,services,married,high.school,no,yes,no,telephone,may,thu,...,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,1,0
34630,33,technician,single,professional.course,no,no,no,cellular,may,thu,...,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,1,0
21091,36,technician,married,professional.course,no,yes,no,cellular,aug,thu,...,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,1,0
11405,36,blue-collar,married,high.school,unknown,no,no,telephone,jun,fri,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,1,0

In [26]:
y_test

7403      no
29282     no
11552    yes
13634     no
7018      no
        ...
1008      no
3117      no
34630     no
21091     no
11405     no
Name: y, Length: 10294, dtype: object

In [27]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [30]:
preprocess = make_column_transformer((['age', 'duration', 'campaign', 'pdays', 'previous'], StandardScaler()), (['job', 'marital', 'education', 'default', 'housing', 'loan','contact', 'month', 'day_of_week', 'poutcome'], OneHotEncoder(sparse=False)))

In [31]:
train_features = preprocess.fit_transform(X_train)

TypeError: All estimators should implement fit and transform, or can be 'drop' or 'passthrough' specifiers. '['age', 'duration', 'campaign', 'pdays', 'previous']' (type <class 'list'>) doesn't.

In [32]:
test_features = preprocess.transform(X_test)

AttributeError: 'ColumnTransformer' object has no attribute '_n_features'

In [5]:
import sagemaker

In [6]:
prefix = 'sagemaker/DEMO-smprocessing/input'

In [8]:
input_data = sagemaker.Session().upload_data(path='./bank-additional/bank-additional-full.csv', key_prefix=prefix)

In [9]:
import os
input_data_path = os.path.join('/opt/ml/processing/input', 'bank-additional-full.csv')
df = pd.read_csv(input_data_path)

FileNotFoundError: [Errno 2] No such file or directory: '/opt/ml/processing/input/bank-additional-full.csv'